{% extends 'homebase.html' %}

{% block title %}{{setting.title}} - login{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}


{% block content %}
{% load static %}
<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Login</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-md-3">
							<img src="{% static ''%}images/playing-in-grass.gif" alt="">
						</div>
						<div class="col-md-6">
							<div class="heading-title text-center inner-column">
								<h1><span>Log Into</span> Your Account</h1>
								<hr>
								<p>{{setting.vision|safe}} </p>
							</div>
						</div>
						<div class="col-md-3">
							<img src="{% static ''%}images/baby-smiling.gif" alt="">
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					 <!--  display message on form    -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags}}" role="alert">
                                    {{message}}
                                </div>
                            {% endfor %}
                        {% endif %}

					<form class="our-team"  method="post" enctype="multipart/form-data">
						{%csrf_token%}
						<fieldset>
							<div class="row">
								<div class="col-md-1">
									<div class="form-group">
										<i class="fa fa-user fa-4x"></i>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<input type="text" class="form-control fa-user"  name="username" placeholder="Username" required data-error="Please enter your username">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-1">
									<div class="form-group">
										<i class="fa fa-lock fa-4x"></i>
										<div class="help-block with-errors"></div>
									</div>
								</div>
								<div class="col-md-5">
									<div class="form-group">
										<input type="password" placeholder="Password" id="email" class="form-control fa-lock" name="password" required data-error="Please enter your Password">
										<div class="help-block with-errors"></div>
									</div>
								</div>
								{%if request.GET.next %}
								<input type="hidden" name="next" value="{{request.GET.next}}">
								{%endif%}
								<div class="col-md-12">
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Login</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div>
										<div class="clearfix"></div>
									</div>

									<div class="col-md-12">
									   <hr>
										<h4 class="text-muted">Need An Account?<a class="ml-4" href="{%url 'register'%}"><b>Sign Up Now</b></a></h4>
								   </div>
								</div>
							</div>
						</fieldset>
					</form>

				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							{{setting.phone}}
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							{{setting.email}}
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							{{setting.address|safe}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

{% endblock %}
{% block foot %}{% include 'footer.html' %}{% endblock %}