{% extends 'homebase.html' %}

{% block title %}{{user.first_name}}- Password Update {% endblock %}



{% block content %}

<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>User Update</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->

<!-- Start Contact -->
<!--	<div class="map-full"></div>-->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center inner-column">
						<h1><span>CHANGE </span> YOUR PASSWORD</h1>
						<hr>
						<p>{{setting.mission|safe}}</p>
					</div>

				</div>

            </div>


			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags}}" role="alert">
						{{message}}
					</div>
				{% endfor %}
			{% endif %}

			<div class="row">


				<div class="col-xl-12 col-lg-12 col-12"> <!--  display message on form    -->
					<form class="our-team" method="post">
						{% csrf_token %}
						<h4>_________________</h4>
						{% for field in form %}
						  <p>
							{{ field.label_tag }}<br>
							{{ field }}
							{% if field.help_text %}
							  <small style="color: grey">{{ field.help_text }}</small>
							{% endif %}
							{% for error in field.errors %}
							  <p style="color: red">{{ error }}</p>
							{% endfor %}
						  </p>
						{% endfor %}
						<div class="submit-button text-center">
							<button class="btn btn-common"  type="submit">Update</button>
							<div id="msgSubmit" class="h3 text-center hidden"></div>
							<div class="clearfix"></div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
                            {{setting.phone}}
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
                            {{setting.email}}
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
                            {{setting.address|safe}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

{% endblock %}

{% block foot %}{% include 'footer.html' %}{% endblock %}
