{% extends 'homebase.html' %}

{% block title %}{{user.first_name}}'s Profile Update{% endblock %}



{% block content %}

<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>User Update</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End header -->

<!-- Start Contact -->
<!--	<div class="map-full"></div>-->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center inner-column">
						<h1><span>UPDATE </span> YOUR PROFILE</h1>
						<hr>
						<p>{{setting.mission|safe}}</p>
					</div>

				</div>

            </div>


			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags}}" role="alert">
						{{message}}
					</div>
				{% endfor %}
			{% endif %}

			<div class="row">


				<div class="col-xl-12 col-lg-12 col-12"> <!--  display message on form    -->
					<form class="our-team"  method="post" enctype="multipart/form-data">


                        {%csrf_token%}
						<div class="row">
							<div class="col-md-12">
								<label>Username</label>
								<div class="form-group">
									<input type="text" class="form-control" name="username" value="{{user.username}}" required data-error="Username">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<label>Email</label>
								<div class="form-group">
									<input type="email" value="{{user.email}}"  class="form-control" name="email" required data-error="Email">
									<div class="help-block with-errors"></div>
								</div>
							</div>
                            <div class="col-md-12">
								<label>First Name</label>
								<div class="form-group">
									<input type="text" value="{{user.first_name}}"  class="form-control" name="first_name" required data-error="First Name">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<label>Last Name</label>
								<div class="form-group">
									<input type="text" value="{{user.last_name}}"  class="form-control" name="last_name" required data-error="Last Name"><hr>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							 <div class="col-md-12">
								 <label>Phone number</label>
								<div class="form-group">
									<input type="text" value="{{user.userprofile.phone}}"  class="form-control" name="phone" required data-error="Phone">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<label>Address/Location</label>
								<div class="form-group">
									<input type="text" value="{{user.userprofile.address}}"  class="form-control" name="address" required data-error="Address">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<label>City</label>
								<div class="form-group">
									<input type="text" value="{{user.userprofile.city}}"  class="form-control" name="city" required data-error="City">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-12">
								<label>Country</label>
								<div class="form-group">
									<input type="text" value="{{user.userprofile.country}}"  class="form-control" name="country" required data-error="Country">
									<div class="help-block with-errors"></div>
								</div>
							</div>
							<div class="col-md-4 ">
							   <small>Upload User Picture</small>
							  <input class="form-group" type="file" name="image" />
							   <div class="help-block with-errors"></div>
							</div>
							<div class="col-md-12">
								<div class="submit-button text-center">
									<button class="btn btn-common"  type="submit">Update</button>
									<div id="msgSubmit" class="h3 text-center hidden"></div>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
                            {{setting.phone}}
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
                            {{setting.email}}
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
                            {{setting.address|safe}}
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

{% endblock %}

{% block foot %}{% include 'footer.html' %}{% endblock %}
