{% extends 'homebase.html' %}

{% block title %}our-services{% endblock %}



{% block content %}
{% load static %}

<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>OUR SERVICES</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->

	<!-- Start blog -->
	<div class="blog-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Make Your Reservations</h2>
						<p>{{setting.organization}} {{setting.motto|safe}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				{%for rs in services%}
				<div class="col-lg-4 col-md-6 col-12">
					<div class="blog-box-inner">
						<div class="blog-img-box">
							<img class="img-fluid" src="{{rs.icon.url}}" alt="" style="height: 300px">
						</div>
						<div class="blog-detail">
							<h4>{{rs.title}}</h4>

							<ul>
								<li>|</li>
								<li><span>GHC {{rs.charge}}</span></li>
								<li><span>{{rs.status}}</span></li>
								<li>|</li>

							</ul>
							<p>{{rs.descriptions|safe}} </p>
							<a class="btn btn-lg btn-circle btn-outline-new-white" href="/reservations/{{rs.id}}" >Reserve This Service</a>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
	<!-- End blog -->


	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->


{% endblock %}
{% block foot %}{% include 'footer.html' %}{% endblock %}